.page-grid{
  display: grid;
}

.location-grid{
  display: grid;
  padding: var(--space-xs);
  gap: var(--space-xs);
  grid-template-areas: 
    "title button"
    "items items"
  ;
}

.location-title{
  grid-area:title;
}

.location-button{
  grid-area: button;
  justify-self: end;
}

.location-items{
  grid-area: items;
}