
body, html{
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--black);
}

h1, h2, p{
  margin: 0;
  padding: 0; 
}

a{
  color:inherit;
  text-decoration: none;
}

nav{
  padding:0px;
}

:root {

  --black: #242424;
  --gray: #313131;
  --lightgray: #757575;
  --white: #eeeeee;
  --blue: #63a1fd;
  --green: #30e63f;
  --yellow: #f8fc2a;
  --red: #f07979;

  --font-secondary: 'Open Sans', sans-serif;
  --font-primary: 'Playfair Display', serif;

  --font-size-xxs: 0.8em;
  --font-size-xs: 1em;
  --font-size-sm: 1.2em;
  --font-size-md: 1.5em;

  --font-weight-sm: 300;
  --font-weight-md: 500;

  --space-xxxs: 0.25em;
  --space-xxs: 0.5em;
  --space-xs: 1em;
  --space-sm: 1.5em;
  --space-md: 2em;

  --z-navbar: 800;
  --z-navmenu: 700;
  --z-main: 500;
  --z-overlay: 600;
  --z-mainloader: 650;


}